header, nav, main, footer { display:block; }  

@media only screen and (max-width:768px) {


* {box-sizing: border-box;} 

.clear {clear:both}

body {  
    background-image:url("background.gif");
    color:#221811;
    background-color:#fcebb6;
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    }

footer {  
        background-color:#ccaa66;
        color: #221811;
        font-size:small;
        text-align:center;
        font-style:italic;
        padding-bottom:10px;
        border-top:2px;
        }

header {  
    background-color:#d2b48c;
    height:128px;
    background-image:url(javajammini.jpg);
    background-repeat:no-repeat;
    }

#wrapper {
    min-width:900px;
    max-width:1280px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color:#231814; 
    }

main {
    padding-top:1px;
    padding-left:0;
    padding-right:0;
    padding-bottom:2em;
    background-color:#fef6c2;
    }   

#details { 
    padding-left:0;
    padding-right:0;
    overflow: auto;
    }

h1 { 
    margin:0;
    padding:10px;
    padding-top:45px;
    padding-left:0;
    font-size:2em;
    text-align:center;
    color:#221811;
    }
 
h2 {
    padding-top:0.5em;
    padding-right:0;
    padding-bottom:0;
    padding-left:0.5em;
    margin-right:0.5em;
    font-size:1.2em;
    }

h3 {padding-left:3em;
    padding-right:2em;
    }

h4 {
    font-size:1.2em;
    padding-left:.5em;
    padding-right:2em;
    padding-bottom:.25em;
    background-color:#d2b48c;
    text-transform: uppercase;
    border-style: outset solid;
    padding-bottom:0;
    }

img {
    padding-left:10px;
    padding-right:10px;
    }

nav {
    margin:0;
    text-align:center;
    font-weight:bold;
    font-size:1.5em;
    }

nav a {
    display: block;
    padding:0.2em;
    width:auto;
    border-bottom:1px solid;
    border-color:#fef6c2;
    text-decoration:none;
    }

nav li {
    display:block;
}

nav ul {
    list-style-type:none;
    padding-left:0;
    }

nav a:hover {
    color: #cc9933;
    font-size:xx-large;
    }

nav a:visited {  
    color:#d2b48c;
    }

nav a:link {  
    color:#fef6c2;
    }

#heroroad {
    background:none;
    height:auto;
    }

#heromugs { 
    background:none;
    height:auto;
    }
#heroguitar {
    background:none;
    height:auto;
    }

main h2, main h3, main h4, main p, main div, main ul, main dl {
    padding-left:3em;
    padding-right:2em;
    }

.floatleft {
    padding-right:0.5em;
    padding-left:0.5em;
    padding-bottom:2em;
    float:left;
}

#mobile {display: inline;}
#desktop {display: none;}
}